/* Настройка цвета фона главного окна */
.root {
    -fx-background-color: #f0f0f0; /* Серый фон */
}

/* Настройка фона панели добавления задачи */
.addTaskBox {
    -fx-background-color: #e0e0e0; /* Светло-серый фон */
    -fx-padding: 10px;
}

/* Настройка фона кнопок */
.button {
    -fx-background-color: #4CAF50; /* Зелёная кнопка */
    -fx-text-fill: white; /* Белый цвет текста на кнопке */
}

.buttonDelete
{
     -fx-background-color: #FF0000; /* Зелёная кнопка */
     -fx-text-fill: white; /* Белый цвет текста на кнопке */
}

/* Настройка цвета текста заголовков */
.label {
    -fx-text-fill: #333333; /* Тёмно-серый цвет текста */
}

/* Настройка цвета текста в списках */
.list-cell {
    -fx-text-fill: #555555; /* Светло-серый цвет текста */
}

/* Настройка цвета фона и текста сообщений Alert */
.alert {
    -fx-background-color: #F44336; /* Красный фон */
    -fx-text-fill: white; /* Белый цвет текста */
}
